/* the backgound color is applied */

* {
  background-color: rgb(122, 153, 173);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
/* this style applies to all childrens color */

:root {
  --first: rgb(63, 71, 92);
  --second: rgb(115, 166, 170);
  --third: rgb(108, 173, 233);

  --primary: rgba(68, 88, 119, 1);
  /* --secondary: rgba(146, 204, 206, 1); */
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  /* --light: rgb(13, 13, 14); */
}

header {
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--first);
  align-items: center;
  padding: 10px;
  flex-direction: row;
}
/* this style apples to the name in h1 section  */

header h1 {
  text-align: center;
  color: var(--first);
  background-color: var(--second);
  padding: 15px;
  font-size: 4vm;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


nav {
  text-align: center; 
}
/* this style applies to the nav a -- by using transition and root colors  */

nav a {
 
  padding: 10px;
  margin-right: 10px;
  color: var(--first);
  font-size: 1.4rem;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
  background-image: linear-gradient(
    270deg,
    var(--primary) 0%,
    var(--primary) 100%
  );
}


nav a:hover {
    background-size: 100% 88%;
    color: var(--second);
  } 

main p {
  margin: 100px;
  display: grid;
  grid-template-rows: repeat;
  gap: 20px;
  max-width: 1000px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* this style applies color, width and border size to the Work text */

/* #Work {
  border-right: 3px solid black;
  width: 120px;
  color: rgb(12, 12, 12);
} */


.me img {
  border-radius: 50%;
  max-height: 150px;
  max-width: 200px;
  width: 120px;
  height: 120px;
  margin: 20px;
  box-shadow: 10px 2px #f8f5f6;
  box-shadow: 10px 2px 15px;
}

/* .flex-container {
  display: flex;
  flex-wrap: wrap;
} */

.flex-item {
  flex: 1;
  border: 5px solid var(--dark-gray);
  background-color: rgb(82, 82, 82);
  min-height: 150px;
  min-width: 335px;
  background-blend-mode: soft-light;
  margin: 40px;
  background-size: 150%;
  transition: all 0.5s;
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
  border: 8px solid #555c61;
  box-shadow:
  0 0 0 10px hsl(0, 1%, 39%),
  0 0 0 15px hsl(0, 2%, 9%);

}

/* Images */

.take-a-hike {
  background-image: url("../images/takeahike.png");
  /* background-position: top;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(115, 166, 170); */
}

.workday-scheduler {
  background-image: url("../images/scheduler.png");
  /* background-position: top;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(115, 166, 170); */
}

.weather-dashboard {
  background-image: url("../images/weather.png");
  /* background-position: top;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(115, 166, 170); */
}

.code-refactor {
  background-image: url("../images/coderefactor.png");
  /* border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(115, 166, 170); */
}

.web-spinners {
  background-image: url("../images/venues.png");
  /* border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(115, 166, 170); */
}

.note-taker {
  background-image: url("../images/notetaker.png");
  /* border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(115, 166, 170); */
}
.readme-generator {
  background-image: url("../images/");
  /* border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(115, 166, 170); */
}
.generating-password {
  background-image: url("../images/password.png");
  /* border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(115, 166, 170); */
}

.page-section {
 font-size: 20px;
color: rgb(30, 39, 68);
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

@media (max-width: 400px) {
  .mobile-Size-Text {
    font-size: 24px;
    font-weight: bolder;
  }
  .mobile-Size-Text-top {
    line-height: 35px;
  }
}
.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid var(--primary);
  font-size: 4vw;
  line-height: 1.1;
}

.page-section > div {
  flex: 0 0 75%;
}

.page-section p {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

.flex-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

 .flex-item div {
  background-color: var(--first);
  padding: 8px 10px;
} 

.flex-item h3 {
  font-size: 1.6rem;
}

 .contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
} 

 .contact address a {
  color: var(--tertiary);
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  background-image: linear-gradient(
    270deg,
    var(--primary) 0%,
    var(--primary) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
} 
 .contact address a:hover {
  background-size: 100% 88%;
  color: var(--second);
} 


@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }


/* 
 .page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }  */

  .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--primary);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
}

@media screen and (max-width: 768px) {
  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 150px;
  }

  .hero-banner {
    justify-content: center;
    text-align: center;
  }

  .contact address {
    flex-direction: column;
    text-align: center;
  }
}
