  /* the backgound color is applied */
                                                                    
  * {
    background-color: rgb(5, 5, 5);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/* this style applies to all childrens color */

 :root {
    --first: rgb(63, 71, 92);
    --second: rgb(115, 166, 170);
    --third: rgb(108, 173, 233);
}
/* This header was applied to the blue header with flex-wrap and justify-content */

header {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--first);
    align-items: center;
    padding: 10px;
    flex-direction: row;
}
/* this style apples to the name in h1 section  */

header h1 {
    align-items: center;
    color: var(--first);
    background-color: var(--second);
    padding: 15px;
    font-size: 4vm;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* this style applies to the about me, work, and contact me section of the nav */

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
/* this style applies to the nav a -- by using transition and root colors  */

nav a {
    text-decoration: underline;
    padding: 10px;
    margin-right: 10px;
    color: var(--first);
    background-image: var(--second) 100%;
    background-size: 0% 0.1em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
    align-items: center;
}
/* this style applies to the background size and the color of the nav */

nav a:hover {
    background-size: 100% 100%;
    color: rgb(8, 8, 8);
    background-color: rgb(244, 229, 247);
    border-radius: 5px;
}

/* #hero-image {
    box-shadow: 10px 5px 5px gray;
    width: 1900px;
} */
#nameTitle {
justify-content: flex-end;  
text-align: right;
}
/* this style applies to the text section of the about me  */

main p {
    margin: 100px;
    display: grid;
    grid-template-rows: repeat;
    gap: 20px;
    max-width: 1000px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* this style applies color, width and border size to the Work text */

#Work {
    border-right: 3px solid black;
    width: 120px;
    color: rgb(253, 252, 252);
}
/* this style applies to the contact me text */


/* this style applies to the profile image */

.me img {
    border-radius: 50%;
    max-height: 150px;
    max-width: 200px;
    width: 120px;
    height: 120px;
    margin: 20px;
    box-shadow: 10px 2px #f8f5f6;
    box-shadow: 10px 2px 15px;
}



.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    flex: 1;
    border: 5px solid var(--dark-gray);
    background-color: rgb(82, 82, 82);
    min-height: 150px;
    min-width: 335px;
    background-blend-mode: soft-light;
    margin: 10px;
    background-size: 150%;
    transition: all 0.5s;
    /* Descriptive Box Elements */
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    text-decoration: none;
    font-size: 0.8rem;
    /* color: black; */
    box-shadow: 100px;
}
.main-section{
    /* border-right: 3px  solid black; */
    /* width: 50px; */
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 50px;
    margin: 50px;
    /* border-width: 50px; */
}

.page-section h4 {
    border-radius: 50px;
    block-size: 30px;
    color: rgb(255, 254, 254);
    /* box-shadow: 100px; */ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
    font-size: 25px;
}

.page-section span {
    border-radius: 1px;
    
    /* box-shadow: 50px; */
    border-right: 5px solid black;
    width: 120px;
    color: rgb(250, 249, 249);
   
}
/* Grid Portfolio - Feature First Child */

.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-item:hover {
    background-color: unset;
}

.flex-item div {
    background-color: var(--dark-gray);
    padding: 10px;
    padding-right: 25px;
    border-radius: 0px 60px 60px 0px;
}

.flex-item h4 {
    font-size: 1.4rem;
}
/* Images */

.take-a-hike {
    background-image: url("../images/takeahike.png");
    background-position: top;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(115, 166, 170);
}

.workday-scheduler {
    background-image: url("../images/scheduler.png");
    background-position: top;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(115, 166, 170);
}

.weather-dashboard {
    background-image: url("../images/weather.png");
    background-position: top;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(115, 166, 170);
}

.code-refactor {
    background-image: url("../images/coderefactor.png");
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(115, 166, 170);
}

.web-spinners{
    background-image: url("../images/venues.png");
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(115, 166, 170);
}

.note-taker{
    background-image: url("../images/notetaker.png");
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(115, 166, 170);
}
.readme-generator {
    background-image: url("../images/");
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(115, 166, 170);
}
.generating-password {
    background-image: url("../images/password.png");
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(115, 166, 170);
}
.page-section li {
    display: flex;
    justify-content: space-around;
    border-right: 3px solid black;
    width: 120px;
    color: black;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
  /* this style applies to the contact information section  */
.contactList li {
    display: inline;
    text-decoration: underline;
    padding: 7px;
    margin-left: 50px;
    align-items: center;
}

.contactList a:hover {
    color: rgb(7, 7, 7);
    background-color: rgb(244, 229, 247);
    border-radius: 5px;
}

a:link,
a:visited {
    color: rgb(247, 247, 248);
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.contactMe h2 {
    /* border-right: 3px solid black; */
   font-size: 20px;
    /* width: 120px; */
    color: rgb(253, 252, 252);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* margin: auto; */
}



.skill {
    margin-bottom: 35px;
    position: relative;
        overflow-x:hidden;
        
        
}
.skill > p {
    font-size: 18px;
    font-weight: 700;
    color: #faf8f8;
    margin: 0;
    
    
}
.skill:before{
    width: 100%;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
    
}
.skill-bar {
    width: 100%;
    height: 5px;
    background:#5acaec;
    display: block;
    position: relative;
    width: 1px;
    height: 10px;
    transition: .9s;
    background-color: #149ddd;
    
    
}

.skill1{
    width: 90%;
    
        
 }
.skill-bar span{
    position: absolute;
    border-top: 5px solid #faf7f6; 
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500; 
    
}
.skill-bar {
    position: relative;
    
        
}

.skill1 .skill-count1 {
    right: 0;
}

.skill2{
     width: 90%;
       
    }

    .skill2 .skill-count2 {
        right: 0;
    }
    /* SKILL 3 */
    .skill3{
        width: 75%;
    }
    .skill3 .skill-count3 {
        right: 0;
    }

    /* SKILL 4 */
    .skill4{
        width: 70%
    }

    .skill4 .skill-count4 {
        right: 0;
    }

    /* SKILL 5 */
    .skill5{
        width: 70%;
    }

    .skill5 .skill-count5 {
        right: 0;
    }

    /* SKILL 6 */
    .skill6{
        width: 70%
    }

    .skill6 .skill-count6 {
        right: 0;
    } 

    @media (max-width: 400px ){
        .mobile-Size-Text{
          font-size: 24px;
          font-weight: bolder;
        }
        .mobile-Size-Text-top{
          line-height: 35px;
        }
      }
